:root {
    --primary-text-color: #576b80; 
    --secoondary-text-color: #696cff;
    --accent-color: #697a8d;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 0px;
} 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pad {
    padding-block: 20px;
    padding-inline: 25px;
}

.box-details {
    box-shadow: rgba(161, 172, 184, 0.15) 0px 0px 6px 4px;
    border-radius: 6px;
}

main{
    height: 100%;
    display: flex;
    flex-direction: row;
}
/*Navbar*/
nav{
    height: 100vh;
    width: 20%;
    background-color: #ffffff;
    padding: 20px;
}

.logo_name{
    font-size:35px;
    /* font-family:'Poppins',sans-serif; */
    padding-left :25px;
    padding-block: 15px;
}

.dashboard {
    font-size:20px;
    padding-left:10px;
    padding:10px;
}
.dashboard:hover{
    background-color:#696cff;
    border-radius:5px;
    border-color:#0000;
    border:2px;
    transition: 0.4s ease;
    cursor:pointer;
}
.dashboard i{
    padding-inline:8px;
}
.pages{
    margin-top:40px;
}
h1,h2,h3{
    font-family: 'Ubuntu', sans-serif;
}


/*Main-div*/
.main-div{
    height: 100%;
    width: 80%;
    background-color: #f5f5f9;
}

.bar {
    padding-block: 4px;
    padding-inline: 10px;
    
    height: 75px;
    background-color: #fff;
    
    display: flex;
    justify-content: space-between;
    
}
.admin {
    padding-left: 15px;
    font-size: 20px;
    width: auto;
    justify-content: space-around;
    
}
.details {
    padding: 4px;
    padding-left: 15px;
    height: auto;
    width: auto;
    /* background-color: #; */
}
#admin-icon {
    border-radius: 50%;
    height: 55px;
    width: 55px;
    
}

.admin_details{
    margin-block: 30px;
    justify-content: space-between;
}
.btn{
    padding-block:10px 
    ;
}
button{
    padding: 5px;
    font-size:1.2rem;
    font-weight: bold;
    background-color:#696cff;
    color:#fff;
    border-radius:4px;
    width:250px;
  }
button:hover{
    box-shadow: 0px 5px 15px rgb(0,0,0,0.06);
    background:none;
    color:#696cff;
    transition: 0.3s ease;
    cursor:pointer;
  }
.admin-welcome {
    padding-block: 20px;
    padding-inline: 40px;
    background-color: #fff;
    width: 65%;
    height: 210px;
}
.cont-1 {
    width: 30%;
    height: 200px;
    background-color: #ffffff;
}
.cont-1 p{
    font-size: 25px;
    padding-inline:30px ;
}
.cont-1-details{
    padding-block: 20px;
}
.total{
    display:inline;
    padding:10px;
}

.cont-1 .img1{
    margin-left:75%;
    /* padding-left: 185px; */
}

#total_no{
    font-size:20px;
    padding:20px;
}
.cont-2 {
    width: 65%;
    height: 270px;
    background-color: #ffffff;
}


/*form styling */


/* form {
    background-color: #fff;
    width: 100%;
    margin: 20px auto 0 auto;
    padding: 20px;
    border-radius: 4px;
    font-size: 12px;
    display: grid;
    grid-template-columns: 50% 50%;
} */

.formdesign {
    color: #2A2F4F;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 10px 0;
}

.formdesign input,
select {
    display: block;
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    padding: 8px 18px;
    border: 2px solid #6C9BCF;
    /* margin: 14px auto; */
    border-radius: 4px;
    font-size: 15px;
}

#faddress {
    width: 70%;
}

.formdesign.success input {
    border-color: #03C988;
}

.formdesign.error input {
    border-color: #ED2B2A;
}

.formerror {
    color: red;
}

.but {
    margin-block: auto;
    color: #fff;
    background-color: rgb(105, 108, 255, 80%);
    border: none;
    border-radius: 4px;
    width: 70%;
    height: 50px;
    font-size: 25px;
    transition: 0.2s ease-in-out;
}

.but:hover {
    border: 3px solid rgb(105, 108, 255, 80%);
    background-color: var(--secoondary-text-color);
    font-size: 28px;
    cursor:pointer;
}
.filterbox{
    background-color: #ffffff;
    padding: 20px;
    width:100%;
    box-shadow: rgba(161, 172, 184, 0.15) 0px 0px 6px 4px;
    border-radius:  5px;
    height:auto;
}
.category{
    display: flex;
    width:100%;
    gap:8rem;
}

.cat {
    margin: 6px;
    font-size: 18px;
}
